Imports

In [2]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt
%matplotlib inline
import math
import sys
import csv
import urllib
import bs4
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import string
import Levenshtein
import difflib

Taking a look at the data

In [3]:
#set the path to the main data directory
path = '../Data/mens-machine-learning-competition-2019/DataFiles/'

In [4]:
# This one contains stats for every single regular season game played between 1985 and 2018. It mainly
# contains info on the score of the game, the IDs for each team, and where the game was played.
reg_season_compact_pd = pd.read_csv(path + 'RegularSeasonCompactResults.csv')
reg_season_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [8]:
# This one expands on the previous data frame by going into more in depth stats like 3 point field goals,
# free throws, steals, blocks, etc. 
#NOTE: Whereas the previous dataframe has data from 1985, this one only has data from 2003 on!
reg_season_detailed_pd = pd.read_csv(path+'RegularSeasonDetailedResults.csv')
reg_season_detailed_pd.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [73]:
teams_pd = pd.read_csv(path+'Teams.csv')
teams_pd.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2019
1    1102    Air Force           1985          2019
2    1103        Akron           1985          2019
3    1104      Alabama           1985          2019
4    1105  Alabama A&M           2000          2019

In [ ]:
#only consider teams that were Division 1 in 2019? May just need to throw out games with an invalid teamID

In [26]:
# Don't think this data is honestly that important. Just contains the region areas for the tournament each 
# year. There isn't really a distinct "home field" advantage in the tourney because the games are supposed
# to be on neutral sites. 
# Not sure why this data set has this arcane region system. Nevertheless, gets used in the seeds data
seasons_pd = pd.read_csv(path+'Seasons.csv')
seasons_pd.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [18]:
# Print Virginia because GO HOOS
print (teams_pd[teams_pd['TeamName'] == 'Virginia'])

     TeamID  TeamName  FirstD1Season  LastD1Season
337    1438  Virginia           1985          2019

In [77]:
# This one contains the stats for every single NCAA tournament game from 1985 to 2018
tourney_compact_pd = pd.read_csv(path+'NCAATourneyCompactResults.csv')
tourney_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [1]:
# More deatiled tourney stats (except only stats from 2003 :( )
tourney_detailed_pd = pd.read_csv(path+'NCAATourneyDetailedResults.csv')
tourney_detailed_pd.columns

NameError: name 'pd' is not defined

In [25]:
# This one tells you what seed each team was for a given tournament year
tourney_seeds_pd = pd.read_csv(path+'NCAATourneySeeds.csv')
tourney_seeds_pd.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [29]:
# Seeing what seed Virgnina was in every tourney
virginia_id = teams_pd[teams_pd['TeamName'] == 'Virginia'].values[0][0]
tourney_seeds_pd[tourney_seeds_pd['TeamID'] == virginia_id]

      Season Seed  TeamID
68      1986  W05    1438
180     1987  Z05    1438
308     1989  Z05    1438
358     1990  Y07    1438
438     1991  Z07    1438
517     1993  W06    1438
630     1994  Z07    1438
675     1995  Y04    1438
824     1997  Z09    1438
1077    2001  Z05    1438
1433    2007  X04    1438
1802    2012  Z10    1438
1878    2014  W01    1438
1947    2015  W02    1438
2032    2016  X01    1438
2086    2017  W05    1438
2185    2018  Y01    1438

In [33]:
# Don't know how helpful this is tbh, because it just tells you what the seeds of the stronger
# and weaker seeds are (assuming that the favored team wins??), so its always 1 vs 16 and then 
# 1 vs 8 and 1 vs 4..
tourney_slots_pd = pd.read_csv(path+'NCAATourneySlots.csv')
tourney_slots_pd[tourney_slots_pd['Slot']=='R3W1'].head()

     Season  Slot StrongSeed WeakSeed
48     1985  R3W1       R2W1     R2W4
111    1986  R3W1       R2W1     R2W4
174    1987  R3W1       R2W1     R2W4
237    1988  R3W1       R2W1     R2W4
300    1989  R3W1       R2W1     R2W4

In [37]:
conference_pd = pd.read_csv(path+'Conferences.csv')
conference_pd.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

In [38]:
team_conference_pd = pd.read_csv(path+'TeamConferences.csv')
team_conference_pd.head()

   Season  TeamID ConfAbbrev
0    1985    1114      a_sun
1    1985    1147      a_sun
2    1985    1204      a_sun
3    1985    1209      a_sun
4    1985    1215      a_sun

That's pretty lackluster conference information compared to years past. Definitely want to get ahold of some SRS (Simple Rating System) and SOS (Strength of Schedule). In the past, averages per conference per year were included in the conference data. 
Question: Do we want to scrape these numbers for every team+season? Or is it sufficient to get the averages for each conference+season? Is the former that much more difficult than the latter?

In [100]:
#building a crawler for team-season SRS and SOS
def url_format_team_name(team_name):
    formatted_tn = team_name.replace(' St', '-state')
    formatted_tn = formatted_tn.replace(' Chr', '-christian')
    formatted_tn = formatted_tn.replace(' A&M', '-am')
    formatted_tn = formatted_tn.replace('Ark ', 'arkansas-',1)
    formatted_tn = formatted_tn.replace(' Intl', '-international')
    formatted_tn = formatted_tn.replace('CS ', 'cal-state-',1)
    formatted_tn = formatted_tn.replace('E ', 'east-',1)
    formatted_tn = formatted_tn.replace('W ', 'west-',1)
    formatted_tn = formatted_tn.replace('UC ', 'california-',1)
    
    formatted_tn = formatted_tn.replace(' ', '-')
    
    return formatted_tn

def url_format_team(teamID):
    team_name = teams_pd[teams_pd['TeamID'] == teamID]
    

def get_SRS_and_SOS(teamID, season):
    pass

def collect_schedule_stats():
    pass

In [98]:
#url crawler
#We want to obtain a list of team names as they are formatted in the urls of sports reference
#Then, for each team name in the teams csv, associate it with the url-formatted team name with the highest (cosine sim)
#Build a dataframe with columns teamID, teamName, URLFormattedTeamName
def crawl_urls():
    url = 'https://www.sports-reference.com/cbb/schools/'
    source = urllib.request.urlopen(url).read().decode('utf-8')
    soup = bs4.BeautifulSoup(source, "lxml")
    name_list = []
    for link in soup.find_all('a'):
        if '/cbb/schools/' in link.get('href'):
            name = link.get('href')[13:-1]
            if len(name) > 0 and '.htm' not in name:
                name_list.append(name)
    return name_list

def associate_urls():
    #in which i use tools that I don't understand
    url_name_list = crawl_urls()
    
    #tfidf_vectorizer=TfidfVectorizer(analyzer='char', vocabulary=string.printable)
    #teamName_matrix=tfidf_vectorizer.fit_transform(teams_pd['TeamName'])
    #url_tn_matrix = tfidf_vectorizer.fit_transform(url_name_list)
    
    for i in range(len(teams_pd['TeamID'])):
        #max_cs = 0
        best_url = ''
        team_row_data = teams_pd.loc[i, : ]
        team_id = team_row_data['TeamID']
        team_name = team_row_data['TeamName']
        best_url = difflib.get_close_matches(url_format_team_name(team_name), url_name_list, n=1, cutoff=0.6)
        #for j in range(len(url_name_list)):
            #print(team_name)
            #print(teamName_matrix[i])
            #print(url_name_list[j])
            #print(url_tn_matrix[j])
            #cs = cosine_similarity(teamName_matrix[i],url_tn_matrix[j])
            #if cs > max_cs:
                #max_cs = cs
                #best_url = url_name_list[j]
        print([team_id, team_name, best_url])

associate_urls()

[1101, 'Abilene Chr', ['abilene-christian']]
[1102, 'Air Force', ['air-force']]
[1103, 'Akron', ['akron']]
[1104, 'Alabama', ['alabama']]
[1105, 'Alabama A&M', ['alabama-am']]
[1106, 'Alabama St', ['alabama-state']]
[1107, 'Albany NY', ['albany-ny']]
[1108, 'Alcorn St', ['alcorn-state']]
[1109, 'Alliant Intl', ['alliant-international']]
[1110, 'American Univ', ['american']]
[1111, 'Appalachian St', ['appalachian-state']]
[1112, 'Arizona', ['arizona']]
[1113, 'Arizona St', ['arizona-state']]
[1114, 'Ark Little Rock', ['arkansas-little-rock']]
[1115, 'Ark Pine Bluff', ['arkansas-pine-bluff']]
[1116, 'Arkansas', ['arkansas']]
[1117, 'Arkansas St', ['arkansas-state']]
[1118, 'Armstrong St', ['western-state']]
[1119, 'Army', ['army']]
[1120, 'Auburn', ['auburn']]
[1121, 'Augusta', ['augustana-il']]
[1122, 'Austin Peay', ['austin-peay']]
[1123, 'Ball St', ['ball-state']]
[1124, 'Baylor', ['baylor']]
[1125, 'Belmont', ['belmont']]
[1126, 'Bethune-Cookman', ['bethune-cookman']]
[1127, 'Binghamton', ['binghamton']]
[1128, 'Birmingham So', ['birmingham-southern']]
[1129, 'Boise St', ['boise-state']]
[1130, 'Boston College', ['boston-college']]
[1131, 'Boston Univ', ['boston-university']]
[1132, 'Bowling Green', ['bowling-green-state']]
[1133, 'Bradley', ['bradley']]
[1134, 'Brooklyn', ['brooklyn']]
[1135, 'Brown', ['brown']]
[1136, 'Bryant', ['bryant']]
[1137, 'Bucknell', ['bucknell']]
[1138, 'Buffalo', ['buffalo']]
[1139, 'Butler', ['butler']]
[1140, 'BYU', []]
[1141, 'C Michigan', ['michigan']]
[1142, 'Cal Poly SLO', ['cal-poly']]
[1143, 'California', ['california']]
[1144, 'Campbell', ['campbell']]
[1145, 'Canisius', ['canisius']]
[1146, 'Cent Arkansas', ['central-arkansas']]
[1147, 'Centenary', ['centenary-la']]
[1148, 'Central Conn', []]
[1149, 'Charleston So', ['charleston-southern']]
[1150, 'Charlotte', ['charlotte']]
[1151, 'Chattanooga', ['chattanooga']]
[1152, 'Chicago St', ['chicago-state']]
[1153, 'Cincinnati', ['cincinnati']]
[1154, 'Citadel', ['citadel']]
[1155, 'Clemson', ['clemson']]
[1156, 'Cleveland St', ['cleveland-state']]
[1157, 'Coastal Car', ['coastal-carolina']]
[1158, 'Col Charleston', ['college-of-charleston']]
[1159, 'Colgate', ['colgate']]
[1160, 'Colorado', ['colorado']]
[1161, 'Colorado St', ['colorado-state']]
[1162, 'Columbia', ['columbia']]
[1163, 'Connecticut', ['connecticut']]
[1164, 'Coppin St', ['coppin-state']]
[1165, 'Cornell', ['cornell']]
[1166, 'Creighton', ['creighton']]
[1167, 'CS Bakersfield', ['cal-state-bakersfield']]
[1168, 'CS Fullerton', ['cal-state-fullerton']]
[1169, 'CS Northridge', ['cal-state-northridge']]
[1170, 'CS Sacramento', ['cal-state-fullerton']]
[1171, 'Dartmouth', ['dartmouth']]
[1172, 'Davidson', ['davidson']]
[1173, 'Dayton', ['dayton']]
[1174, 'Delaware', ['delaware']]
[1175, 'Delaware St', ['delaware-state']]
[1176, 'Denver', ['denver']]
[1177, 'DePaul', ['depaul']]
[1178, 'Detroit', ['beloit']]
[1179, 'Drake', ['drake']]
[1180, 'Drexel', ['drexel']]
[1181, 'Duke', ['duke']]
[1182, 'Duquesne', ['duquesne']]
[1183, 'E Illinois', ['eastern-illinois']]
[1184, 'E Kentucky', ['eastern-kentucky']]
[1185, 'E Michigan', ['eastern-michigan']]
[1186, 'E Washington', ['eastern-washington']]
[1187, 'East Carolina', ['east-carolina']]
[1188, 'Edwardsville', ['evansville']]
[1189, 'Elon', ['elon']]
[1190, 'ETSU', []]
[1191, 'Evansville', ['evansville']]
[1192, 'F Dickinson', ['fairleigh-dickinson']]
[1193, 'Fairfield', ['fairfield']]
[1194, 'FL Atlantic', []]
[1195, 'FL Gulf Coast', []]
[1196, 'Florida', ['florida']]
[1197, 'Florida A&M', ['florida-am']]
[1198, 'Florida Intl', ['florida-international']]
[1199, 'Florida St', ['florida-state']]
[1200, 'Fordham', ['fordham']]
[1201, 'Fresno St', ['fresno-state']]
[1202, 'Furman', ['furman']]
[1203, 'G Washington', ['washington']]
[1204, 'Ga Southern', ['southern']]
[1205, 'Gardner Webb', ['gardner-webb']]
[1206, 'George Mason', ['george-mason']]
[1207, 'Georgetown', ['georgetown']]
[1208, 'Georgia', ['georgia']]
[1209, 'Georgia St', ['georgia-state']]
[1210, 'Georgia Tech', ['georgia-tech']]
[1211, 'Gonzaga', ['gonzaga']]
[1212, 'Grambling', ['grambling']]
[1213, 'Grand Canyon', ['grand-canyon']]
[1214, 'Hampton', ['hampton']]
[1215, 'Hardin-Simmons', ['hardin-simmons']]
[1216, 'Hartford', ['hartford']]
[1217, 'Harvard', ['harvard']]
[1218, 'Hawaii', ['hawaii']]
[1219, 'High Point', ['high-point']]
[1220, 'Hofstra', ['hofstra']]
[1221, 'Holy Cross', ['holy-cross']]
[1222, 'Houston', ['houston']]
[1223, 'Houston Bap', ['houston-baptist']]
[1224, 'Howard', ['howard']]
[1225, 'Idaho', ['idaho']]
[1226, 'Idaho St', ['idaho-state']]
[1227, 'IL Chicago', ['chicago']]
[1228, 'Illinois', ['illinois']]
[1229, 'Illinois St', ['illinois-state']]
[1230, 'Incarnate Word', ['incarnate-word']]
[1231, 'Indiana', ['indiana']]
[1232, 'Indiana St', ['indiana-state']]
[1233, 'Iona', ['iona']]
[1234, 'Iowa', ['iowa']]
[1235, 'Iowa St', ['iowa-state']]
[1236, 'IPFW', []]
[1237, 'IUPUI', []]
[1238, 'Jackson St', ['jackson-state']]
[1239, 'Jacksonville', ['jacksonville']]
[1240, 'Jacksonville St', ['jacksonville-state']]
[1241, 'James Madison', ['james-madison']]
[1242, 'Kansas', ['kansas']]
[1243, 'Kansas St', ['kansas-state']]
[1244, 'Kennesaw', ['kennesaw-state']]
[1245, 'Kent', []]
[1246, 'Kentucky', ['kentucky']]
[1247, 'La Salle', ['la-salle']]
[1248, 'Lafayette', ['lafayette']]
[1249, 'Lamar', ['lamar']]
[1250, 'Lehigh', ['lehigh']]
[1251, 'Liberty', ['liberty']]
[1252, 'Lipscomb', ['lipscomb']]
[1253, 'Long Beach St', ['long-beach-state']]
[1254, 'Long Island', ['rhode-island']]
[1255, 'Longwood', ['longwood']]
[1256, 'Louisiana Tech', ['louisiana-tech']]
[1257, 'Louisville', ['louisville']]
[1258, 'Loy Marymount', ['loyola-marymount']]
[1259, 'Loyola MD', ['loyola-md']]
[1260, 'Loyola-Chicago', ['loyola-la']]
[1261, 'LSU', []]
[1262, 'MA Lowell', []]
[1263, 'Maine', ['maine']]
[1264, 'Manhattan', ['manhattan']]
[1265, 'Marist', ['marist']]
[1266, 'Marquette', ['marquette']]
[1267, 'Marshall', ['marshall']]
[1268, 'Maryland', ['maryland']]
[1269, 'Massachusetts', ['massachusetts']]
[1270, 'McNeese St', ['mcneese-state']]
[1271, 'MD E Shore', []]
[1272, 'Memphis', ['memphis']]
[1273, 'Mercer', ['mercer']]
[1274, 'Miami FL', ['miami-oh']]
[1275, 'Miami OH', ['miami-oh']]
[1276, 'Michigan', ['michigan']]
[1277, 'Michigan St', ['michigan-state']]
[1278, 'Minnesota', ['minnesota']]
[1279, 'Mississippi', ['mississippi']]
[1280, 'Mississippi St', ['mississippi-state']]
[1281, 'Missouri', ['missouri']]
[1282, 'Missouri KC', ['missouri']]
[1283, 'Missouri St', ['missouri-state']]
[1284, 'Monmouth NJ', ['monmouth']]
[1285, 'Montana', ['montana']]
[1286, 'Montana St', ['montana-state']]
[1287, 'Morehead St', ['morehead-state']]
[1288, 'Morgan St', ['morgan-state']]
[1289, 'Morris Brown', ['morris-brown']]
[1290, 'MS Valley St', ['ball-state']]
[1291, "Mt St Mary's", ['mount-st-marys']]
[1292, 'MTSU', []]
[1293, 'Murray St', ['murray-state']]
[1294, 'N Colorado', ['colorado']]
[1295, 'N Dakota St', ['south-dakota-state']]
[1296, 'N Illinois', ['illinois']]
[1297, 'N Kentucky', ['kentucky']]
[1298, 'Navy', ['navy']]
[1299, 'NC A&T', []]
[1300, 'NC Central', ['east-central']]
[1301, 'NC State', []]
[1302, 'NE Illinois', ['eastern-illinois']]
[1303, 'NE Omaha', ['nebraska-omaha']]
[1304, 'Nebraska', ['nebraska']]
[1305, 'Nevada', ['nevada']]
[1306, 'New Hampshire', ['new-hampshire']]
[1307, 'New Mexico', ['new-mexico']]
[1308, 'New Mexico St', ['new-mexico-state']]
[1309, 'New Orleans', ['new-orleans']]
[1310, 'Niagara', ['niagara']]
[1311, 'Nicholls St', ['nicholls-state']]
[1312, 'NJIT', []]
[1313, 'Norfolk St', ['norfolk-state']]
[1314, 'North Carolina', ['north-carolina']]
[1315, 'North Dakota', ['north-dakota']]
[1316, 'North Florida', ['north-florida']]
[1317, 'North Texas', ['north-texas']]
[1318, 'Northeastern', ['northeastern']]
[1319, 'Northern Arizona', ['northern-arizona']]
[1320, 'Northern Iowa', ['northern-iowa']]
[1321, 'Northwestern', ['northwestern']]
[1322, 'Northwestern LA', ['northwestern']]
[1323, 'Notre Dame', ['notre-dame']]
[1324, 'Oakland', ['oakland']]
[1325, 'Ohio', ['ohio']]
[1326, 'Ohio St', ['ohio-state']]
[1327, 'Okla City', ['oklahoma-city']]
[1328, 'Oklahoma', ['oklahoma']]
[1329, 'Oklahoma St', ['oklahoma-state']]
[1330, 'Old Dominion', ['old-dominion']]
[1331, 'Oral Roberts', ['oral-roberts']]
[1332, 'Oregon', ['oregon']]
[1333, 'Oregon St', ['oregon-state']]
[1334, 'Pacific', ['pacific']]
[1335, 'Penn', []]
[1336, 'Penn St', ['penn-state']]
[1337, 'Pepperdine', ['pepperdine']]
[1338, 'Pittsburgh', ['pittsburgh']]
[1339, 'Portland', ['portland']]
[1340, 'Portland St', ['portland-state']]
[1341, 'Prairie View', ['prairie-view']]
[1342, 'Presbyterian', ['presbyterian']]
[1343, 'Princeton', ['princeton']]

[1344, 'Providence', ['providence']]
[1345, 'Purdue', ['purdue']]
[1346, 'Quinnipiac', ['quinnipiac']]
[1347, 'Radford', ['radford']]
[1348, 'Rhode Island', ['rhode-island']]
[1349, 'Rice', ['rice']]
[1350, 'Richmond', ['richmond']]
[1351, 'Rider', ['rider']]
[1352, 'Robert Morris', ['robert-morris']]
[1353, 'Rutgers', ['rutgers']]
[1354, 'S Carolina St', ['south-carolina-state']]
[1355, 'S Dakota St', ['south-dakota-state']]
[1356, 'S Illinois', ['illinois']]
[1357, 'Sacred Heart', ['sacred-heart']]
[1358, 'Sam Houston St', ['sam-houston-state']]
[1359, 'Samford', ['samford']]
[1360, 'San Diego', ['san-diego']]
[1361, 'San Diego St', ['san-diego-state']]
[1362, 'San Francisco', ['san-francisco']]
[1363, 'San Jose St', ['san-jose-state']]
[1364, 'Santa Barbara', ['santa-clara']]
[1365, 'Santa Clara', ['santa-clara']]
[1366, 'Savannah St', ['savannah-state']]
[1367, 'SC Upstate', ['utah-state']]
[1368, 'SE Louisiana', ['southeastern-louisiana']]
[1369, 'SE Missouri St', ['southeast-missouri-state']]
[1370, 'Seattle', ['seattle']]
[1371, 'Seton Hall', ['seton-hall']]
[1372, 'SF Austin', []]
[1373, 'Siena', ['siena']]
[1374, 'SMU', []]
[1375, 'South Alabama', ['south-alabama']]
[1376, 'South Carolina', ['south-carolina']]
[1377, 'South Dakota', ['south-dakota']]
[1378, 'South Florida', ['south-florida']]
[1379, 'Southern Miss', ['southern-mississippi']]
[1380, 'Southern Univ', ['southern']]
[1381, 'Southern Utah', ['southern-utah']]
[1382, 'St Bonaventure', ['st-bonaventure']]
[1383, 'St Francis NY', ['st-francis-ny']]
[1384, 'St Francis PA', ['st-francis-ny']]
[1385, "St John's", ['st-johns-ny']]
[1386, "St Joseph's PA", []]
[1387, 'St Louis', ['saint-louis']]
[1388, "St Mary's CA", []]
[1389, "St Peter's", ['saint-peters']]
[1390, 'Stanford', ['stanford']]
[1391, 'Stetson', ['stetson']]
[1392, 'Stony Brook', ['stony-brook']]
[1393, 'Syracuse', ['syracuse']]
[1394, 'TAM C. Christi', []]
[1395, 'TCU', []]
[1396, 'Temple', ['temple']]
[1397, 'Tennessee', ['tennessee']]
[1398, 'Tennessee St', ['tennessee-state']]
[1399, 'Tennessee Tech', ['tennessee-tech']]
[1400, 'Texas', ['texas']]
[1401, 'Texas A&M', ['texas-am']]
[1402, 'Texas St', ['texas-state']]
[1403, 'Texas Tech', ['texas-tech']]
[1404, 'TN Martin', []]
[1405, 'Toledo', ['toledo']]
[1406, 'Towson', ['towson']]
[1407, 'Troy', ['troy']]
[1408, 'Tulane', ['tulane']]
[1409, 'Tulsa', ['tulsa']]
[1410, 'UTRGV', []]
[1411, 'TX Southern', ['southern']]
[1412, 'UAB', []]
[1413, 'UC Davis', []]
[1414, 'UC Irvine', []]
[1415, 'UC Riverside', []]
[1416, 'UCF', []]
[1417, 'UCLA', []]
[1418, 'ULL', []]
[1419, 'ULM', []]
[1420, 'UMBC', []]
[1421, 'UNC Asheville', []]
[1422, 'UNC Greensboro', []]
[1423, 'UNC Wilmington', []]
[1424, 'UNLV', []]
[1425, 'USC', []]
[1426, 'UT Arlington', ['texas-arlington']]
[1427, 'UT San Antonio', ['texas-san-antonio']]
[1428, 'Utah', ['utah']]
[1429, 'Utah St', ['utah-state']]
[1430, 'Utah Valley', ['utah-valley']]
[1431, 'UTEP', []]
[1432, 'Utica', ['utica']]
[1433, 'VA Commonwealth', ['virginia-commonwealth']]
[1434, 'Valparaiso', ['valparaiso']]
[1435, 'Vanderbilt', ['vanderbilt']]
[1436, 'Vermont', ['vermont']]
[1437, 'Villanova', ['villanova']]
[1438, 'Virginia', ['virginia']]
[1439, 'Virginia Tech', ['virginia-tech']]
[1440, 'VMI', []]
[1441, 'W Carolina', ['east-carolina']]
[1442, 'W Illinois', ['illinois']]
[1443, 'WKU', []]
[1444, 'W Michigan', ['michigan']]
[1445, 'W Salem St', ['ball-state']]
[1446, 'W Texas A&M', ['texas-am']]
[1447, 'Wagner', ['wagner']]
[1448, 'Wake Forest', ['wake-forest']]
[1449, 'Washington', ['washington']]
[1450, 'Washington St', ['washington-state']]
[1451, 'Weber St', ['weber-state']]
[1452, 'West Virginia', ['west-virginia']]
[1453, 'WI Green Bay', ['green-bay']]
[1454, 'WI Milwaukee', ['milwaukee']]
[1455, 'Wichita St', ['wichita-state']]
[1456, 'William & Mary', ['william-mary']]
[1457, 'Winthrop', ['winthrop']]
[1458, 'Wisconsin', ['wisconsin']]
[1459, 'Wofford', ['wofford']]
[1460, 'Wright St', ['wright-state']]
[1461, 'Wyoming', ['wyoming']]
[1462, 'Xavier', ['xavier']]
[1463, 'Yale', ['yale']]
[1464, 'Youngstown St', ['youngstown-state']]
[1465, 'Cal Baptist', ['california-baptist']]
[1466, 'North Alabama', ['north-alabama']]

Initial analysis

Building a preliminary team-season vector